:root {
  --primary-orange: #fa7436;
  --text-black: #222222;
  --text-gray: #666666;
  --light-gray: #999999;
  --white: #ffffff;
  --bg-light: #f7f8fc;
}

/* base styles  */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.6;
  color: var(--text-black);
  background-color: var(--white);
}

button {
  outline: none;
  background: transparent;
  cursor: pointer;
}
.container {
  width: 70%;
  margin: 0 auto;
}

.flex_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

header {
  justify-content: space-between;
  width: 100%;
}

.header_logo {
  gap: 10px;
}

.container nav ul {
  gap: 32px;
  list-style: none;
}
.container nav ul li a {
  text-decoration: none;
  color: var(--text-gray);
  font-size: 16px;
  transition: color 0.3s;
}
.container nav ul li a:hover {
  color: var(--primary-orange);
}

.button_container {
  gap: 2px;
}

.login_button {
  color: var(--primary-orange);
  padding: 13px 50px;
  border: none;
  background: transparent;
  border-radius: 5px;
}
.signup_button {
  background: var(--primary-orange);
  padding: 13px 50px;
  border: none;
  border-radius: 5px;
  color: white;
}

/* Hero Section */
.hero_container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.hero_container .hero_text_container,
.hero_banner {
  width: 100%;
}

.hero_container .hero_banner img {
  width: 100%;
  height: 100%;
}
.hero_container .hero_title {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 24px;
  color: var(--text-black);
}
.hero_title span {
  color: var(--primary-orange);
}
.hero_description {
  color: var(--text-gray);
  font-size: 16px;
  margin-bottom: 32px;
}
.hero_container .hero_text_container button {
  padding: 14px 28px;
  border: 2px solid var(--primary-orange);
  border-radius: 5px;
  background: transparent;
  color: var(--primary-orange);
}
.search {
  justify-content: center;
  margin-top: 56px;
}
.search .search_inner {
  background: white;
  border-radius: 10px;
  justify-content: space-between;
  width: 70%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 32px 20px;
}
.search_inner p {
  margin: 0;
}

.search_inner button {
  background: var(--primary-orange);
  padding: 13px 28px;
  border: none;
  border-radius: 5px;
  color: white;
}

/* To Do section */
.things-to-do {
  padding: 120px 20px;
  text-align: center;
  background: #f7f8fc;
}

.things-to-do h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.highlight {
  color: #ff5a3c;
}

.things-to-do p {
  color: #666;
  max-width: 600px;
  margin: 10px auto 30px;
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-top: 64px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 40px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #777;
}

/* exclusive section */
.exclusive {
  text-align: center;
  padding: 120px 20px;
}
.exclusive .card {
  padding: 0px;
  transform: translateY(0);
}
.exclusive .card .image_container {
  position: relative;
  overflow: hidden;
}
.exclusive .card .image_container img {
  width: 100%;
  margin-bottom: 0px;
}
.exclusive .card .image_container .book_now_button {
  position: absolute;
  left: 70px;
  bottom: 24px;
  padding: 9px 22px;
  background: var(--primary-orange);
  color: white;
  border: none;
  border-radius: 5px;
  transform: translateY(60px);
  z-index: 10;
  transition: all 0.5s ease-out;
}
.exclusive .card:hover .image_container .book_now_button {
  transform: translateY(0px);
}
.exclusive .card .title_rating .flex_container img {
  width: 16px;
  margin-bottom: 0px;
}
.exclusive .card .flex_container p {
  margin: 0px;
}

.exclusive .title_rating {
  justify-content: space-between;
  padding: 32px 16px 0 16px;
}
.exclusive .loction_prize {
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 16px 32px 16px;
}
.exclusive .loction_prize .prize p:first-child {
  text-decoration: line-through;
}
.exclusive .loction_prize .prize p:last-child {
  background: #fa7436;
  color: white;
  padding: 2px;
  border-radius: 4px;
}

/* Vacation plan section */
.vacation_plan {
  text-align: center;
  padding: 120px 20px;
  background: #fefcfb;
}

.vacation_plan .card {
  padding: 0px;
}
.vacation_plan .card .flex_container p {
  margin: 0px;
}

.vacation_plan .card .image_container img {
  width: 100%;
  margin-bottom: 0px;
  object-fit: fill;
}
.vacation_plan .card .loction_prize .flex_container img {
  width: 16px;
  margin-bottom: 0px;
}
.vacation_plan .title_rating .vacation_price {
  color: #fa7436;
}
.vacation_plan .title_rating {
  justify-content: space-between;
  padding: 24px 16px 0 16px;
}
.vacation_plan .loction_prize {
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 16px 24px 16px;
}

/* about us */
.about_us {
  padding: 120px 20px;
  background: #f7f8fc;
}
.about_us .about_us_inner {
  display: flex;
  align-items: flex-start;
}
.about_us .about_us_inner p {
  margin: 0px;
}
.about_us .title {
  font-size: 48px;
  font-weight: bold;
}
.about_us .title span {
  color: var(--primary-orange);
}

/* blogs */
.blog {
  padding: 120px 20px;
}
.blog h2 {
  text-align: center;
}

.blog .card {
  padding: 0px;
  box-shadow: none;
}
.blog .card p {
  margin: 0px;
  text-align: left;
}
.blog .card .title {
  color: var(--text-black);
  font-weight: bold;
}

.blog .card .image_container img {
  width: 100%;
  margin-bottom: 0px;
  object-fit: fill;
}

/* Footer */
.footer-content {
  padding: 0 20px;
  background: #f7f8fc;
}
.footer_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-section {
  background: #fa7436 url("./assets/SubscriptionBg.png");
  padding: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-section h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.subscribe-section form {
  background: white;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 60%;
}
.subscribe-section form input {
  border: none;
  outline: none;
  color: #999999;
}
.subscribe-section form button {
  padding: 9px 22px;
  background: var(--primary-orange);
  color: white;
  border: none;
  border-radius: 5px;
}
.footer-brand {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 120px;
}
.footer-brand .social-icons {
  gap: 18px;
}
.footer-brand .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 100px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.footer-brand .social-icons a:hover {
  background: var(--primary-orange);
}
.footer-brand .social-icons a:hover svg {
  stroke: white;
}
.footer-brand .social-icons a svg {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}
.footer-brand .footer_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.footer_list p {
  font-weight: bold;
}
.footer_main_desc {
  width: 100%;
}
.footer_list ul {
  list-style: none;
  padding: 0px;
}
.footer_list ul li {
  padding-bottom: 6px;
}

.footer_copyrights {
  padding: 24px 10px;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
  color: var(--light-gray);
  margin-top: 24px;
}
.footer_copyrights p {
  margin: 0px;
}
